@use 'src/styles/variables';
@use 'src/styles/theme';

.dateField {
  width: 100%;
  margin-bottom: 8px;

  &.error {
    .container {
      border-color: theme.$text-field-error-color;
    }
  }

  &.disabled {
    .container {
      opacity: 0.7;
    }
  }

  &:hover {
    &:not(.disabled) {
      .container {
        background-color: theme.$text-field-hover-bg-color;
        border-color: theme.$text-field-hover-border-color;
      }
    }
  }
}

.label {
  display: block;
  margin-bottom: 4px;
  font-weight: var(--body-font-weight-bold);
  text-align: left;

  > span {
    float: right;
    color: rgba(variables.$white, 0.7);
    font-weight: normal;
  }
}

.control > div {
  width: 48px;
  height: 48px;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;

  color: theme.$text-field-resting-color;

  font-weight: var(--body-font-weight-bold);
  font-size: 16px;

  background-color: theme.$text-field-bg-color;
  border: 1px solid theme.$text-field-resting-border-color;
  border-radius: 4px;
  transition: border 0.2s ease;

  &:focus-within {
    color: theme.$text-field-active-color;
    border-color: theme.$text-field-active-border-color;
  }
}

.input {
  width: 100%;
  min-height: 48px;
  padding: 14px 16px;
  color: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  appearance: none;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &[name="date"] {
    width: 43px;
    padding-right: 4px;
  }

  &[name="month"] {
    width: 35px;
    padding-right: 4px;
    padding-left: 4px;
  }

  &[name="year"] {
    width: 60px;
    padding-left: 4px;
  }
}
