@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

$select-border: variables.$gray-lighter;
$select-arrow: variables.$white;
$select-focus: theme.$primary-color;

$disabled-bg-color: #eee;
$disabled-gradient: linear-gradient(to top, #ddd, $disabled-bg-color 33%);

.container {
  width: 100%;
  margin-bottom: 8px;

  &.error {
    .dropdown {
      border-color: theme.$text-field-error-color;
    }
  }

  &.medium {
    .dropdown {
      height: 48px;
    }

    .select {
      height: 46px;
      padding: 14px 16px;
    }
  }
}

.label {
  display: block;
  margin-bottom: 4px;
  font-weight: var(--body-font-weight-bold);
  text-align: left;

  > span {
    float: right;
    color: rgba(variables.$white, 0.7);
    font-weight: normal;
  }
}

.dropdown {
  position: relative;
  display: grid;
  align-items: center;
  width: 140px;
  height: 36px;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.25em;
  cursor: pointer;
  grid-template-areas: 'select';

  // Custom arrow
  &::after {
    z-index: 1;
    width: 10px;
    height: 5px;
    margin-right: 9px;
    background-color: $select-arrow;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    //noinspection CssUnknownProperty
    -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%); /* stylelint-disable-line */
    content: '';
    justify-self: end;
  }

  &.fullWidth {
    width: 100%;
    margin-left: initial;
  }

  .select {
    z-index: 1;
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 2px 8px;
    color: variables.$white;
    font-family: inherit;
    font-weight: theme.$body-font-weight-bold;
    font-size: 1rem;
    line-height: 1em;
    text-overflow: ellipsis;
    background: none;
    border: none;
    outline: none;
    cursor: inherit;
    -webkit-appearance: none; /* stylelint-disable-line */
    appearance: none;

    // Remove IE arrow
    &::-ms-expand {
      display: none;
    }
  }

  .select,
  &::after {
    grid-area: select;
  }

  & .disabled {
    background-color: $disabled-bg-color;
    background-image: $disabled-gradient;
    cursor: not-allowed;
  }

  &:hover,
  &:focus-within {
    border-color: $select-focus;
    outline: none;
  }
}

.option {
  white-space: normal;
  background-color: rgba(0, 0, 0, 0.84);
  // Set focus on chrome
  outline-color: $select-focus;
}
