@use '../../styles/variables';
@use '../../styles/theme';
@use '../../styles/mixins/responsive';

$select-border: variables.$gray-lighter;
$select-arrow: variables.$white;
$select-focus: theme.$primary-color;

.dropdown {
  position: relative;
  display: grid;
  align-items: center;
  width: 140px;
  margin-left: 24px;
  font-size: 1.25rem;
  line-height: 1.1;
  background-color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.25em;
  cursor: pointer;
  grid-template-areas: 'select';

  // Custom arrow
  &::after {
    z-index: 1;
    width: 10px;
    height: 5px;
    margin-right: 9px;
    background-color: $select-arrow;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    content: '';
    justify-self: end;
  }

  .select {
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 9px 24px 9px 9px;
    text-overflow: ellipsis;
    color: variables.$white;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    line-height: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: inherit;
    appearance: none;

    // Remove IE arrow
    &::-ms-expand {
      display: none;
    }
  }

  .select,
  &::after {
    grid-area: select;
  }

  & .disabled {
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
    cursor: not-allowed;
  }
  &:hover,
  &:focus {
    outline: none;
    border-color: $select-focus;
  }

  &:focus + .focus {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 2px solid orange;
    border-radius: inherit;
  }
}

.option {
  white-space: normal;
  // Set focus on chrome
  outline-color: $select-focus;
}
