@use 'src/styles/mixins/responsive';
@use 'src/styles/theme';
@use 'src/styles/variables';

.tag {
  display: inline-flex;
  align-items: center;
  color: var(--card-color);
  font-family: var(--body-font-family);
  font-weight: 600;
  white-space: nowrap;
  background-color: rgba(variables.$black, 0.6);
  border-radius: 4px;

  &.normal {
    padding: 4px 8px;
    font-size: 16px;

    @include responsive.mobile-only {
      font-size: 14px;
    }
  }

  &.large {
    padding: 9px 16px;
    font-size: 18px;

    @include responsive.mobile-only {
      padding: 4px 8px;
      font-size: 16px;
    }
  }
}

.live {
  background-color: variables.$red;
}
