@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.header {
  display: flex;
  margin-bottom: variables.$base-spacing * 1.5;

  > h3 {
    margin-right: variables.$base-spacing * 1.5;
    font-weight: var(--body-font-weight-bold);
    font-size: 34px;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0.25px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
  }
}
