@use '../../styles/variables';
@use '../../styles/theme';

.about {
  max-width: 960px;
  margin: 24px auto;
  padding: 16px;
  font-size: 16px;
  line-height: 1.4em;
  background-color: rgba(variables.$white, 0.1);

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  a,
  a:visited {
    color: theme.$link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
