@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';
@use 'src/styles/mixins/typography';

.fade {
  position: relative;
  // make sure the fade animation happens on top of page elements
  z-index: variables.$player-z-index;
}

.cinema {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - calc(100vh - 100%));
  overflow: hidden;
  background-color: variables.$black;
}

.playerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  padding: 24px 56px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.25) 100%);
  pointer-events: none;

  @include responsive.mobile-only() {
    padding-left: 16px;
  }
}

.playerContent {
  display: flex;
  width: 80%;

  @include responsive.mobile-only() {
    width: 100%;
  }
}

.backButton {
  margin-right: 24px;
  opacity: 1;
  pointer-events: auto;

  > svg {
    width: 36px;
    height: 36px;
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4)); /* stylelint-disable-line */
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  }
}

.title {
  @include typography.video-title-base;
}

.metaContainer {
  display: flex;
  flex-direction: column;
}

.primaryMetadata {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.15px;

  @include responsive.mobile-only() {
    order: 2;
    font-size: 14px;
  }
}

.secondaryMetadata {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;

  @include responsive.mobile-only() {
    order: 1;
    margin: 4px 0;
    font-size: 18px;
  }
}
