@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/theme';
@use '@jwp/ott-ui-react/src/styles/mixins/responsive';

//
// jwSidebarBackdrop
// --------------------------------

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: variables.$sidebar-z-index - 1;
  display: none;
  width: 100%;
  height: 100%;
  background: theme.$modal-backdrop-bg;
  transition: all 0.3s ease;
}

//
// jwSidebar
// --------------------------------

.sidebar {
  position: fixed;
  top: 0;
  z-index: variables.$sidebar-z-index;
  display: none;
  width: 270px;
  max-width: 90vw;
  height: 100dvh;
  overflow-y: auto;
  background-color: var(--body-background-color);
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.52, 0.51, 0.2, 1);

  ul {
    margin: 0;
    padding: 0 0 calc(#{variables.$base-spacing} / 2) 0;
    list-style-type: none;
    border-bottom: 1px solid rgba(variables.$white, 0.12);
  }
}

.heading {
  display: flex;
  padding: variables.$base-spacing 0 0;
}

.group {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: variables.$base-spacing 0;
  -webkit-overflow-scrolling: touch;
}

//
// mediaQueries
// --------------------------------

@include responsive.mobile-and-tablet() {
  .sidebar {
    display: inline-block;

    &.open {
      transform: translateX(0);
    }
  }

  .backdrop {
    display: inline-block;
    visibility: hidden;
    opacity: 0;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
