@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/theme';
@use '@jwp/ott-ui-react/src/styles/mixins/responsive';
@use '@jwp/ott-ui-react/src/styles/mixins/typography';

.video {
  color: var(--primary-color);
  font-family: var(--body-font-family);
  font-weight: 400;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}

.mainPadding {
  padding: 37px 56px 0;

  @include responsive.desktop-small-only() {
    padding: 34px 36px 36px;
  }

  @include responsive.tablet-only() {
    padding: 34px 24px 24px;
  }

  @include responsive.mobile-only() {
    padding: 16px;
  }
}

.main {
  display: flex;
  max-width: 100vw;

  &.hidden {
    display: none;
  }
}

.info {
  position: relative;
  width: 50%;
  max-width: 650px;
  min-height: 440px;

  @include responsive.desktop-small-only() {
    min-height: 335px;
  }

  @include responsive.tablet-only() {
    width: 350px;
    min-height: 335px;
  }

  @include responsive.mobile-only() {
    width: 100%;
    min-height: 380px;
    padding-top: 225px;
  }
}

.title {
  @include typography.video-title-base;
  margin-bottom: calc(#{variables.$base-spacing} / 2);
}

.metaContainer {
  display: flex;
  flex-direction: column;
}

.primaryMetadata {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: variables.$base-line-height;
  letter-spacing: 0.15px;

  @include responsive.mobile-only() {
    font-size: 14px;
  }
}

.secondaryMetadata {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: variables.$base-line-height;
  letter-spacing: 0.5px;

  @include responsive.mobile-only() {
    order: 1;
    margin: 4px 0;
    font-size: 18px;
  }
}

.description {
  min-height: 21px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: variables.$base-line-height;
  letter-spacing: 0.5px;
}

.buttonBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  > button {
    justify-content: center;
    
    &:not(:last-child) {
      margin-right: 12px;
    }
    
    @include responsive.mobile-and-tablet() {
      flex: 1;
      margin: 6px 6px 6px 0;
      
      &:first-child {
        flex-basis: 100%;
        margin: 0 0 6px 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.poster {
  position: absolute;
  top: 0;
  right: 0;

  z-index: -1;

  width: 80vw;
  height: calc(85vw / 16 * 9);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // fix for Safari (poster will render below the dynamic blur)
  transform: translateZ(0);

  mask-image: radial-gradient(farthest-corner at 80% 20%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 60%);
  //noinspection CssInvalidPropertyValue
  -webkit-mask-image: radial-gradient(farthest-corner at 80% 20%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 60%); /* stylelint-disable-line */

  @include responsive.tablet-only() {
    width: 80vw;
    height: calc(140vw / 16 * 9);
  }

  @include responsive.mobile-only() {
    width: 110vw;
    height: calc(180vw / 16 * 9);
  }
}

.posterFade {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 120px;
  background: linear-gradient(0deg, transparent, var(--body-background-color, variables.$white));
}

.playIcon {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 35px);
  padding: 25px 30px;
  font-size: xx-large;
  border: 3px solid white;
  border-radius: 100%;
}
