@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.videoInlineLayout {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px;
  grid-template-areas:
    'player related'
    'details related';
  grid-template-columns: 1fr 360px;
  grid-template-rows: auto 0.3fr;

  @include responsive.mobile-and-tablet() {
    grid-template-areas:
      'player'
      'details'
      'related';
    grid-template-columns: 1fr;
  }

  @include responsive.desktop-small-only() {
    padding: 24px;
  }

  @include responsive.tablet-only() {
    padding: 24px;
  }

  @include responsive.mobile-only() {
    padding: 16px;
  }
}

.player {
  position: relative;
  grid-area: player;
  aspect-ratio: 16 / 9;
  box-shadow: 0 8px 10px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 20%);

  @supports not (aspect-ratio: 16 / 9) {
    &::after {
      display: block;
      content: '';
      clear: both;
    }
    &::before {
      float: left;
      padding-top: 56.25%;
      content: '';
    }
  }

  @include responsive.mobile-only() {
    margin: -16px -16px 0;
  }
}

.videoDetailsInline {
  grid-area: details;
  height: 100%;
}

.relatedVideosList {
  grid-area: related;
  position: relative;

  @include responsive.desktop-only() {
    padding-left: 24px;
  }
}

.relatedVideos {
  padding: 37px 56px 0;
  padding-bottom: 16px;

  @include responsive.desktop-small-only() {
    padding: 34px;
  }

  @include responsive.tablet-only() {
    padding: 34px 24px;
  }

  @include responsive.mobile-only() {
    padding: 16px;
  }
}

.relatedVideosGrid {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 16px;

  &.inlineLayout {
    flex-direction: column;
    align-items: initial;
    width: 100%;
    grid-area: related;
    padding-bottom: 0;

    > h3 {
      font-size: 20px;
    }
  }

  @include responsive.mobile-and-tablet() {
    justify-content: space-between;
  }
}

.relatedVideosGridTitle {
  margin-right: variables.$base-spacing;
  font-family: var(--body-alt-font-family);
  font-weight: var(--body-font-weight-bold);
  font-size: 24px;
  line-height: 26px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.relatedVideosListTitle {
  padding-bottom: 16px;
  font-family: var(--body-alt-font-family);
  font-weight: var(--body-font-weight-bold);
  font-size: 20px;
  line-height: 22px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtersInline {
  margin-bottom: variables.$base-spacing;
  padding-bottom: variables.$base-spacing;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.filterMetadata {
  font-size: 16px;
  text-transform: capitalize;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}
