@use '../../styles/variables';
@use '../../styles/theme';
@use '../../styles/mixins/responsive';

.title {
  padding-bottom: 16px;
  font-family: var(--body-alt-font-family);
  font-weight: var(--body-font-weight-bold);
  font-size: 20px;
  line-height: 22px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: variables.$base-spacing;
  padding-bottom: variables.$base-spacing;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.filterMetadata {
  font-size: 16px;
  text-transform: capitalize;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}
