@use '../../styles/variables';
@use '../../styles/theme';
@use "../../styles/mixins/responsive";

.button {
  position: relative;
  display: inline-flex;
  justify-content: inherit;
  align-items: center;
  min-height: 38px;
  padding: 0 16px;

  color: theme.$btn-default-color;
  background-color: theme.$btn-default-bg;

  font-family: theme.$body-alt-font-family;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;

  > svg {
    height: 18px;
    width: 18px;
  }

  &.fullWidth {
    width: 100%;
  }
  &.outlined {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  &.primary,
  &.active:not(.text) {
    color: var(--highlight-contrast-color, white);
    background-color: var(--highlight-color, black);
    &.outlined {
      border-color: var(--highlight-color, white);
    }
  }
  &.text {
    font-size: 18px;
    font-weight: 700;
    opacity: 0.7;
    &:not(:hover) {
      background: none;
    }
    &.active {
      opacity: 1;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.active),
    &:focus:not(.active),
    &:hover:is(.text),
    &:focus:is(.text),
    &:active {
      z-index: 1;
      opacity: 1;
      transform: scale(1.1);
      &.fullWidth {
        transform: scale(1.04);
      }
      &.outlined {
        border-color: white;
      }
    }
    &:hover &:focus.active {
      transform: scale(1.1);
      &.fullWidth {
        transform: scale(1.04);
      }
    }
  }
}
.startIcon {
  margin-right: 11px;
  height: 100%;
  display: flex;
  align-items: center;
  > svg {
    height: 20px;
    width: 20px;
    fill: currentColor;
  }
}
