@use '../../styles/variables';
@use '../../styles/theme';
@use "../../styles/mixins/responsive";

.button {
  position: relative;
  display: inline-flex;
  justify-content: inherit;
  align-items: center;
  min-height: 38px;
  padding: 0 16px;

  color: var(--highlight-color, white);
  font-family: theme.$body-alt-font-family;
  text-align: center;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  cursor: pointer;
  transition: background 0.1s ease, transform 0.1s ease;

  &.active {
    color: var(--background-color, black);
    background-color: var(--highlight-color, white);
    border-color: var(--highlight-color, white);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.active),
    &:focus:not(.active),
    &:active {
      z-index: 1;
      background-color: rgba(variables.$black, 0.8);
      border-color: var(--highlight-color, white);
      transform: scale(1.1);
      opacity: 1;
    }
    &:focus.active {
      transform: scale(1.1);
    }
  }
}
