@use '../../styles/variables';
@use '../../styles/theme';
@use "../../styles/mixins/responsive";

.button {
  position: relative;
  display: inline-flex;
  justify-content: inherit;
  align-items: center;
  min-height: 38px;
  padding: 0 16px;

  font-size: 16px;
  font-family: theme.$body-alt-font-family;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;

  > svg {
    height: 18px;
    width: 18px;
  }
  &:hover {
    transform: scale(1.1);
  }

  &.default {
    color: theme.$btn-default-color;
    background-color: theme.$btn-default-bg;
  }
  &.primary {
    color: var(--highlight-contrast-color, white);
    background-color: var(--highlight-color, black);
  }

  &.outlined {
    border: 1px solid rgba(255, 255, 255, 0.3);
    &.active {
      background-color: var(--highlight-color, black);
      border: none;
      &:hover {
        transform: none;
      }
    }
  }
  &.text {
    opacity: 0.7;
    background: none;
    &:hover {
      background: theme.$btn-default-bg;
      opacity: 1;
      transform: scale(1.1);
    }
    &.active {
      opacity: 1;
    }
  }

  &.fullWidth {
    width: 100%;
    &:hover {
      transform: scale(1.04);
    }
  }
}
.startIcon {
  margin-right: 11px;
  height: 100%;
  display: flex;
  align-items: center;
  > svg {
    height: 20px;
    width: 20px;
    fill: currentColor;
    @include responsive.tablet-only() {
      width: 18px;
      height: 18px;
    }
  }
}
