@use 'src/styles/variables';
@use 'src/styles/theme';

.title {
  margin: 24px 0;
  font-weight: var(--body-font-weight-bold);
  font-size: 26px;
}

.text {
  margin-bottom: 24px;
  font-size: 16px;
}

.button {
  margin-bottom: 8px;
}

.link,
.textField {
  margin-bottom: 24px;
}

.paragraph {
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  color: variables.$gray-white;
  font-size: 17px;
  line-height: 21px;
  text-align: left;
}

.resendLink {
  padding-left: 4px;
  color: rgb(129, 175, 254);
  cursor: pointer;

}