@use '../../styles/variables';
@use '../../styles/theme';

.title {
  margin: 24px 0;
  font-family: theme.$body-alt-font-family;
  font-weight: 700;
  font-size: 26px;
}

.text {
  margin-bottom: 24px;
  font-family: theme.$body-alt-font-family;
  font-size: 16px;
}

.button {
  margin-bottom: 8px;
}
.link {
  margin-bottom: 24px;
}
