.tileDock {
  position: relative;
}
.tileDock ul {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.tileDock li {
  display: inline-block;
  list-style-type: none;
  white-space: normal;
}
.tileDock .offsetTile {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.tileDock .leftControl {
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 1;
}
.tileDock .rightControl {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-100%);
}
