@use "../../styles/mixins/responsive";

.tileDock ul {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.tileDock li {
  display: inline-block;
  list-style-type: none;
  white-space: normal;
}
.notInView {
  opacity: 0.5;
  @media (hover: hover) and (pointer: fine) {
    opacity: 0.3;
  }
}
.tileDock .leftControl {
  left: 0px;
  position: absolute;
  top: calc(50% + 25px);
  transform: translateY(-100%);
  z-index: 1;
}
.tileDock .rightControl {
  position: absolute;
  right: 0px;
  top: calc(50% + 25px);
  transform: translateY(-100%);
  z-index: 1;
}
.emptyTile::before {
  content: '';
  display: block;
  padding-top: 56.25%;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
}
