@use "../../styles/mixins/responsive";

.tileDock ul {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.tileDock li {
  display: inline-block;
  list-style-type: none;
  white-space: normal;
}
.tileDock .leftControl {
  left: 0px;
  position: absolute;
  top: calc(50% + 25px);
  transform: translateY(-100%);
  z-index: 1;
}
.tileDock .rightControl {
  position: absolute;
  right: 0px;
  top: calc(50% + 25px);
  transform: translateY(-100%);
  z-index: 1;
}
