@use '../../styles/variables';
@use '../../styles/theme';

.adyen {
  margin-bottom: 24px;

  :global {
    .adyen-checkout__label__text {
      color: variables.$white;
      font-family: theme.$body-font-family;
      font-size: 16px;
      line-height: 18px;
    }

    .adyen-checkout__error-text {
      font-family: theme.$body-font-family;
      font-size: 14px;
    }
  }
}

.container {
  margin-bottom: 24px;
}
