@use '../../styles/variables';
@use '../../styles/theme';
@use '../../styles/mixins/responsive';

.episodes {
  display: flex;
  align-items: center;
  margin-right: -4px;
  padding-bottom: 16px;
  > h3 {
    font-family: var(--body-alt-font-family);
    font-weight: var(--body-font-weight-bold);
    font-size: 24px;
    line-height: 26px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
  }
  @include responsive.mobile-and-tablet() {
    justify-content: space-between;
  }
}
