@use 'src/styles/variables';
@use 'src/styles/theme';

.formFeedback {
  margin-bottom: 24px;
  padding: 16px;
  color: variables.$white;
  font-weight: var(--body-font-weight-bold);
  font-size: 18px;
  text-align: left;
  border-radius: 4px;
}

.info {
  color: variables.$white;
  background-color: theme.$body-bg-color;
}

.error {
  color: theme.$form-feedback-error-color;
  background-color: theme.$form-feedback-error-bg-color;
}

.warning {
  color: theme.$form-feedback-warning-color;
  background-color: theme.$form-feedback-warning-bg-color;
}

.success {
  color: theme.$form-feedback-success-color;
  background-color: theme.$form-feedback-success-bg-color;
}
