@use '@jwp/ott-ui-react-next/src/styles/variables';
@use '@jwp/ott-ui-react-next/src/styles/theme';

.buttonContainer {
  display: flex;
  flex-direction: column;
  padding: 0 variables.$base-spacing;

  > button:first-child {
    margin-bottom: calc(#{variables.$base-spacing} / 2);
  }
}

.separator {
  width: 100%;
  height: 1px;
  margin: 0;
  background: rgba(variables.$white, 0.12);
  border: none;
}
