@use '../../styles/variables';
@use '../../styles/theme';

.passwordStrength {
  position: relative;
  margin: variables.$base-spacing 0;
  font-family: theme.$body-font-family;
  font-size: 14px;
}

.passwordStrengthBar {
  position: relative;
  width: 170px;
  height: 6px;
  margin: variables.$base-spacing 0;

  background: #ddd;
  border-radius: 5px;
}

.passwordStrengthFill {
  position: absolute;
  width: 0;
  height: inherit;
  background: transparent;
  border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;
}

.passwordStrengthFill[data-strength='1'] {
  width: 25%;
  background: orangered;
}

.passwordStrengthFill[data-strength='2'] {
  width: 50%;
  background: orange;
}

.passwordStrengthFill[data-strength='3'] {
  width: 75%;
  background: yellowgreen;
}

.passwordStrengthFill[data-strength='4'] {
  width: 100%;
  background: green;
}
