@use 'src/styles/variables';
@use 'src/styles/theme';

@mixin strength($strength, $width, $color) {
  &[data-strength="#{$strength}"] {
    .passwordStrengthFill {
      width: $width;
      background: $color;
    }

    .label {
      color: $color;
    }
  }
}

.passwordStrength {
  @include strength(1, 25%, orangered);
  @include strength(2, 50%, orange);
  @include strength(3, 75%, yellowgreen);
  @include strength(4, 100%, green);

  position: relative;
  display: flex;
  align-items: center;
  height: 16px;
  margin: 8px 0;
  font-size: 14px;
}

.passwordStrengthBar {
  position: relative;
  width: 170px;
  height: 6px;
  margin-right: 8px;

  background: #ddd;
  border-radius: 5px;
}

.passwordStrengthFill {
  position: absolute;
  width: 0;
  height: 100%;
  background: transparent;
  border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;
}

.label {
  font-weight: theme.$body-font-weight-bold;
  font-size: 14px;
}
