@use '~/styles/variables';
@use '~/styles/theme';
@use '~/styles/mixins/responsive';
@use '~/styles/mixins/typography';

.playerContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
