//
// Colors
// --------------------------------

$white: #fff !default;
$black: #000 !default;

$gray-white: #f7f8fa !default;
$gray-lighter: #eee !default;
$gray-light: #d7dbe6 !default;
$gray: #999 !default;
$gray-dark: #363636 !default;
$gray-darker: #292929 !default;
$gray-alternate: #edeff3 !default;

$slate-gray: #607298 !default;

$red: #ce153f !default;
$blue: #2b3b57 !default;
$green: #5aae4a !default;
$orange: #e9a95b !default;
$link: #82affe !default;

$deep-blue: #055ffc !default;

$red-dark: #ec0041 !default;
$brown-dark: #7c2f01 !default;
$blue-dark: #023691 !default;

//
// Base
// --------------------------------

$body-font-size: 16px !default;
$base-spacing: 16px !default;
$base-spacing-mobile: 8px !default;
$base-spacing-heading: 20px !default;

$container-width-mobile: 100% !default;
$container-width-tablet: 685px !default;
$container-width-desktop: 800px !default;

//
// Responsive
// --------------------------------

$mobile-max-width: 479px !default;
$tablet-small-max-width: 767px !default;
$tablet-max-width: 1023px !default;

$tablet-min-width: $mobile-max-width + 1 !default;
$desktop-min-width: $tablet-max-width + 1 !default;
$desktop-large-min-width: 1200px !default;

//
// Header
// --------------------------------

$header-height: 56px !default;
$header-height-mobile: 56px !default;
$search-height: 36px !default;
$search-bar-width-desktop: 200px !default;

//
// Z-index
// --------------------------------

$epg-z-index: 2 !default;
$view-z-index: 5 !default;
$loading-z-index: 10 !default;
$header-z-index: 15 !default;
$toolbar-z-index: 12 !default;
$sidebar-z-index: 20 !default;
$popups-z-index: 25 !default;
$modals-z-index: 30 !default;
$player-z-index: 35 !default;
