@use "theme";
@use "variables";
@use "./mixins/responsive";

:root {
  --primary-color: #{theme.$primary-color};

  --body-background-color: #{theme.$body-bg-color};
  --body-font-family: #{theme.$body-font-family};
  --body-alt-font-family: #{theme.$body-alt-font-family};
  --body-font-weight-regular: #{theme.$body-font-weight-regular};
  --body-font-weight-bold: #{theme.$body-font-weight-bold};
  --body-color: #{theme.$body-color};

  --card-color: #{theme.$card-color};
  --card-border-hover-color: #{theme.$card-border-hover-color};
  --card-tag-bg: #{theme.$card-tag-bg};
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: variables.$body-font-size;
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;

  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  background: transparent;
  border: none;
  border: 0;
  outline: none;
  appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@include responsive.mobile-and-tablet() {
  body {
    font-size: 18px;
  }
}
