@use "theme";
@use "./mixins/responsive";

:root {
  --primary-color: #{theme.$primary-color};

  --body-background-color: #{theme.$body-bg-color};
  --body-font-family: #{theme.$body-font-family};
  --body-alt-font-family: #{theme.$body-alt-font-family};

  --card-color: #{theme.$card-color};
  --card-border-hover-color: #{theme.$card-border-hover-color};
  --card-slider-loading-card-bg: #{theme.$card-slider-loading-card-bg};
  --card-tag-bg: #{theme.$video-details-tag-bg};
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 16px;
  background-color: var(--body-background-color);
}

button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  background: transparent;
  border: none;
  border: 0;

  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

h1 h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@include responsive.mobile-and-tablet() {
  body {
    font-size: 18px;
  }
}
