@use "theme";
@use "./mixins/responsive";

:root {
  --primary-color: #{theme.$primary-color};

  --body-background-color: #{theme.$body-bg-color};
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 16px;
  background-color: var(--body-background-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

@include responsive.mobile-and-tablet() {
  body {
    font-size: 18px;
  }
}
