@use 'src/styles/variables';
@use 'src/styles/theme';

.backButton {
  position: absolute;
  right: 0;
  left: 0;
}

.title {
  margin-bottom: 24px;
  font-weight: var(--body-font-weight-bold);
  font-size: 24px;
}

.order {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 16px;
  background-color: rgba(variables.$white, 0.08);
  border-radius: 4px;
}

.orderTitle {
  margin: 0;
  font-weight: var(--body-font-weight-bold);
  font-size: 14px;
}

.orderTitleMargin {
  margin-bottom: 4px;
}

.orderBillingDate {
  margin: 0;
  font-size: 14px;
}

.orderInfo {
  flex: 1;
}

.orderPrice {
  display: flex;
  align-items: baseline;

  > span {
    font-weight: var(--body-font-weight-bold);
    font-size: 24px;
  }

  > small {
    margin-left: 4px;
    font-size: 14px;
  }
}

.couponForm {
  margin-bottom: 24px;
  text-align: right;
}

.redeemCoupon {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.couponInput {
  flex: 1;
  width: 100%;
  height: 36px;
  margin-right: 4px;
  padding: 14px;

  color: theme.$text-field-resting-color;

  font-size: 16px;

  background-color: theme.$text-field-bg-color;
  border: 1px solid theme.$text-field-resting-border-color;
  border-radius: 4px;
  transition: border 0.2s ease;

  &:focus-within {
    color: theme.$text-field-active-color;
    border-color: theme.$text-field-active-border-color;
  }
}

.orderTotals {
  width: 100%;
  margin-bottom: 24px;
  font-size: 18px;

  td:first-child {
    text-align: right;
  }

  td:last-child {
    width: 100px;
    text-align: right;
  }

  .couponCell {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1em;

    & > small {
      font-size: 14px;
    }
  }

  tfoot {
    tr:first-of-type {
      td {
        padding-top: 8px;
        font-weight: var(--body-font-weight-bold);
        font-size: 24px;
      }
    }

    tr:not(:first-of-type) {
      td {
        font-size: 14px;
      }
    }
  }
  }
.divider {
  border: none;
  border-top: 1px solid rgba(variables.$white, 0.34);
}

.paymentMethods {
  display: flex;
  margin: 0 -4px 24px;
}

.paymentMethod {
  flex: 1;
  margin: 0 4px;
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  :focus,
  :active {
    + .paymentMethodLabel {
      border-color: variables.$white;
    }
  }

  &:checked + .paymentMethodLabel {
    color: variables.$black;
    background-color: variables.$white;
    border-color: variables.$white;

    svg {
      fill: variables.$black;
    }
  }
}

.paymentMethodLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-weight: var(--body-font-weight-bold);
  font-size: 20px;
  background-color: rgba(variables.$black, 0.34);
  border: 1px solid rgba(variables.$white, 0.34);
  border-radius: 4px;
  cursor: pointer;
  transition: border 0.2s ease, background 0.2s ease;

  > svg {
    margin-right: 4px;
  }
}

.noPaymentNeeded {
  padding: 24px 0;
  font-weight: var(--body-font-weight-bold);
  font-size: 20px;
  text-align: center;
}
