@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/theme';

.payPal {
  p {
    font-weight: var(--body-font-weight-bold);
    font-size: 20px;
    text-align: center;
  }
}
