@use '../../styles/variables';
@use '../../styles/theme';

.controls {
  margin-top: variables.$base-spacing;

  > button {
    margin-right: 8px;
  }
}

.configModal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--body-background-color);
}

.note {
  padding: variables.$base-spacing;
  color: theme.$text-field-resting-color;
  text-align: center;

  * {
    margin-top: variables.$base-spacing / 2;
  }
}
