@use 'src/styles/variables';
@use 'src/styles/theme';

.controls {
  margin-top: variables.$base-spacing;

  > button {
    margin-right: 8px;
  }
}

.maxWidth {
  max-width: 500px;
}

.configModal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--body-background-color);

  p {
    max-width: 500px;
    margin-bottom: 0;
    color: theme.$text-field-resting-color;
    font-size: 14px;
    line-height: 18px;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
    font-weight: var(--body-font-weight-bold);
    text-decoration: underline;
    cursor: pointer;
  }
}

.note {
  padding: variables.$base-spacing;
  text-align: center;

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  * {
    margin-top: calc(#{variables.$base-spacing} / 2);
    color: theme.$text-field-resting-color;
    font-weight: var(--body-font-weight-bold);
  }
}
