@use 'src/styles/variables';
@use 'src/styles/theme';

.buffer {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.buffer div {
  position: absolute;
  display: block;
  width: calc(#{variables.$base-spacing} * 4);
  height: calc(#{variables.$base-spacing} * 4);
  margin: 8px;
  border: 4px solid variables.$white;
  border-color: variables.$white transparent transparent transparent;
  border-radius: 50%;
  animation: buffer 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.small {
  width: 20px;
  height: 20px;
}

.small div {
  width: variables.$base-spacing;
  height: variables.$base-spacing;
}

.large {
  width: 142px;
  height: 142px;
}

.large div {
  width: calc(#{variables.$base-spacing} * 8);
  height: calc(#{variables.$base-spacing} * 8);
}

.large.buffer div {
  border-color: variables.$red-dark variables.$white variables.$white variables.$white;
}

.buffer div:nth-child(1) {
  animation-delay: -0.45s;
}

.buffer div:nth-child(2) {
  animation-delay: -0.3s;
}

.buffer div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes buffer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
