@use '../../styles/variables';
@use '../../styles/theme';

.title {
  margin-bottom: 24px;
  font-family: theme.$body-alt-font-family;
  font-weight: 700;
  font-size: 24px;
}

.error {
  margin-bottom: 24px;
  padding: 16px;
  color: variables.$white;
  font-family: theme.$body-font-family;
  font-size: 18px;
  background-color: theme.$form-error-bg-color;
  border-radius: 4px;
}

.link {
  margin-bottom: 24px;
}
