@use 'src/styles/variables';
@use 'src/styles/theme';

.title {
  margin-bottom: 24px;
  font-weight: var(--body-font-weight-bold);
  font-size: 24px;
}

.link {
  margin-bottom: 24px;
}

.bottom {
  margin-top: 24px;
  text-align: center;
}
