@use '../../styles/variables';
@use '../../styles/theme';

.Layout {
  width: 100vw;
  height: 100vh;
}
.divider {
  width: 270px;
  border-top: 1px solid rgba(variables.$white, 0.12);
  opacity: 0.12;
}
