@use '../../styles/variables';
@use '../../styles/theme';

.layout {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - calc(100vh - 100%));
}
.main {
  flex: 1;
}
.footer {
  padding: 20px 40px;
  color: var(--primary-color);
  font-family: var(--body-alt-font-family);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.15px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);

  > div > a,
  a:visited,
  a:active,
  a:hover {
    color: variables.$white;
    text-decoration: none;
  }
}
.divider {
  width: 270px;
  border-top: 1px solid rgba(variables.$white, 0.12);
  opacity: 0.12;
}
