@use '../../styles/variables';
@use '../../styles/theme';

.title {
  font-family: theme.$body-font-family;
  font-weight: 700;
  font-size: 24px;
}

.message {
  font-family: theme.$body-font-family;
  font-size: 16px;
}
