@use '@jwp/ott-ui-react/src/styles/variables';

.footer {
  height: variables.$footer-height;
  padding: variables.$base-spacing calc(variables.$base-spacing * 3);
  line-height: variables.$base-line-height;
  letter-spacing: 0.15px;
  text-align: center;
  text-shadow: var(--body-text-shadow);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 3px;

    &:not(:last-child)::after {
      content: ' | ';
    }
  }
}

.testFixMargin {
  margin-bottom: 50px;
}
