@use '../../styles/variables';
@use '../../styles/theme';
@use '../../styles/mixins/responsive';

button {
  margin-right: variables.$base-spacing;
}

.flexBox {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: variables.$base-spacing / 2;
  }
}

.controls {
  margin-top: variables.$base-spacing;
}

.checkbox {
  position: relative;
  display: block;
  align-items: center;
  margin-top: variables.$base-spacing / 2;
  margin-bottom: 0;
  padding-left: variables.$base-spacing * 1.5;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > input {
    position: absolute;
    width: 0;
    height: 0;
    margin-right: 10px;
    opacity: 0;
    :not(&:disabled) {
      &:hover ~ .checkmark:hover {
        background-color: theme.$forms-checkbox-bg-hover;
        cursor: pointer;
      }
      &:hover ~ .checkLabel {
        cursor: pointer;
      }
      &:checked ~ .checkmark:hover {
        background-color: theme.$forms-primary-color-hover;
      }
    }
    &:checked ~ .checkmark {
      background-color: theme.$forms-primary-color;
    }
    &:checked ~ .checkmark::after {
      display: block;
    }

    &:disabled ~ .checkmark,
    &:disabled ~ .checkLabel {
      cursor: default;
      opacity: 0.6;
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: theme.$forms-checkbox-bg;
  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    display: none;

    width: 6px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.submitConsents {
  margin-top: variables.$base-spacing;
}
