@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.filterRow {
  display: flex;
  align-items: center;
  margin-left: 16px;

  > button {
    margin: 0 4px;
  }
}

.dropDown {
  margin-bottom: 0;
}

.filterDropDown {
  display: flex;
  align-items: flex-end;
}
