@use '../../styles/variables';
@use '../../styles/theme';
@use '../../styles/mixins/responsive';

.filterRow {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-top: 8px;

  > button {
    margin: 0 4px;
  }
}

.optionMobile {
  @include responsive.mobile-only() {
    display: none;
  }
}
