@use 'sass:math';
@use "../../styles/mixins/responsive";
@use '../../styles/variables';

.card {
  cursor: pointer;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;

  // @media (hover: hover) and (pointer: fine) {
  &:focus,
  &:hover {
    z-index: 1;
    outline: none;
    transform: scale(1.05);
    position: relative;

    & .poster {
      box-shadow: 0 0 0 3px var(--highlight-color, variables.$white), 0 8px 10px rgb(0 0 0 / 14%),
        0 3px 14px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 20%);
    }
  }

  &.featured {
    &:hover {
      transform: scale(1.02);
    }

    .title {
      font-size: 34px;
      font-family: var(--body-font-family);
      line-height: 36px;
      height: 1em;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);

      @include responsive.mobile-only {
        font-size: 24px;
      }
    }
    .tag {
      font-size: 16px;
      padding: 9px 16px;
      @include responsive.mobile-only {
        padding: 4px 8px;
      }
    }
    .meta {
      padding: 16px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      justify-content: space-between;
    }
  }

  &.disabled {
    &:hover {
      transform: scale(1);
      cursor: default;
      & .poster {
        box-shadow: none;
      }
    }
  }
}

.poster {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--card-slider-loading-card-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  transition: box-shadow 0.1s ease;
  box-shadow: 0 8px 10px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 20%);
}

$aspects: ((1, 1), (2, 1), (2, 3), (4, 3), (5, 3), (16, 9), (9, 16));
@each $base, $modifier in $aspects {
  .aspect#{$base}#{$modifier} {
    padding-top: math.percentage($modifier/$base);
  }
}

.titleContainer {
  width: 100%;
  min-height: 19px;
  margin-top: 8px;
  margin-bottom: 0;
  overflow: hidden;
}

.title {
  @include responsive.mobile-only {
    font-size: 14px;
  }
  color: var(--card-color);
  font-family: var(--body-alt-font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  overflow: hidden;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  @supports (-webkit-line-clamp: 2) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  height: 2.3em;

  &.loading {
    background-color: rgba(255, 255, 255, 0.4);
    height: 16px;
    border-radius: 5px;
    width: 30%;
  }
}

.meta {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 8px;
  color: var(--card-color);
}

.tag {
  @include responsive.mobile-only {
    font-size: 14px;
  }
  padding: 4px 8px;
  color: var(--card-color);
  font-family: var(--body-font-family);
  font-size: 13px;
  font-weight: 600;
  background-color: rgba(variables.$black, 0.6);
  border-radius: 4px;

  &.loading {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
