@use 'sass:math';
@use 'src/styles/mixins/responsive';
@use 'src/styles/theme';
@use 'src/styles/variables';

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;

  @media (hover: hover) and (pointer: fine) {
    &:focus,
    &:hover {
      position: relative;
      z-index: 1;
      outline: none;
      transform: scale(1.05);

      & .poster {
        box-shadow: 0 0 0 3px var(--highlight-color, variables.$white), 0 8px 10px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 20%);
      }
    }
  }

  &.featured {
    .title {
      height: 1.1em;
      padding-right: 8px;
      font-family: var(--body-font-family);
      font-size: 34px;
      line-height: 36px;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.2);

      @include responsive.mobile-only {
        font-size: 24px;
        line-height: 26px;
      }
    }

    .tag {
      padding: 9px 16px;
      font-size: 16px;
      @include responsive.mobile-only {
        padding: 4px 8px;
      }
    }

    .meta {
      justify-content: space-between;
      padding: 16px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &.disabled {
    &:hover {
      transform: scale(1);
      cursor: default;

      & .poster {
        box-shadow: none;
      }
    }
  }
}

.poster {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: theme.$card-loading-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 8px 10px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 20%);
  transition: box-shadow 0.1s ease;

  &.current::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    content: '';
  }

  .posterImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &.visible {
      opacity: 1;
    }
  }
}

.currentLabel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight-bold);

  font-size: 18px;
  line-height: 20px;
}

$aspects: ((1, 1), (2, 1), (2, 3), (4, 3), (5, 3), (16, 9), (9, 16), (9, 13));
@each $base, $modifier in $aspects {
  .aspect#{$base}#{$modifier} {
    padding-top: math.percentage(math.div($modifier, $base));
  }
}

.titleContainer {
  width: 100%;
  min-height: 19px;
  margin-top: 8px;
  margin-bottom: 0;
  overflow: hidden;
}

.title {
  height: 2.4em;
  overflow: hidden;
  color: var(--card-color);
  font-family: var(--body-alt-font-family);
  font-weight: var(--body-font-weight-bold);
  font-size: 1em;
  line-height: 1.2em;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);

  &.loading {
    width: 30%;
    height: 16px;
    background-color: theme.$card-loading-bg-color;
    border-radius: 5px;
  }

  @include responsive.mobile-only {
    font-size: 14px;
  }
}

.scheduledStart {
  font-size: 0.88em;
  line-height: 1em;

  @include responsive.mobile-only {
    font-size: 12px;
  }
}


.meta {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 8px;
  color: var(--card-color);
}

.tags {
  display: flex;
}

.tag {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  color: var(--card-color);
  font-family: var(--body-font-family);
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  background-color: rgba(variables.$black, 0.6);
  border-radius: 4px;
  @include responsive.mobile-only {
    font-size: 14px;
  }
}

.lock {
  margin-right: calc(#{variables.$base-spacing} / 2);
  padding: 2px 6px;

  > svg {
    width: 14px;
    height: 21px;
  }
}

.live {
  background-color: variables.$red;
}

svg.scheduled {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.progressContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 5px;
  background-color: rgba(variables.$black, 0.38);
}

.progressBar {
  height: 5px;
  background-color: var(--primary-color);
}
