@use '../../styles/variables';
@use '../../styles/theme';

.Shelf {
  margin: 12px 56px;
}

.title {
  overflow: hidden;
  font-family: var(--body-alt-font-family);
  font-size: 24px;
  margin-bottom: 12px;
  color: var(--card-color);
  font-weight: 700;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.arrow {
  cursor: pointer;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  &:hover {
    transform: scale(1.2);
  }
  > svg {
    width: 30px;
    height: 30px;
  }
}
.arrowDisabled {
  opacity: 0.3;
  > svg {
    width: 30px;
    height: 30px;
  }
}
