@use '../../styles/variables';
@use '../../styles/theme';
@use '../../styles/mixins/responsive';

.shelf {
  @include responsive.mobile-only() {
    margin: 24px 60px 24px variables.$base-spacing;
    &.featured {
      margin: 24px variables.$base-spacing;
    }
  }

  @include responsive.tablet-only() {
    margin: 0 variables.$base-spacing * 2;
  }
  margin: 12px 56px;

  color: var(--primary-color);
  font-family: var(--body-alt-font-family);
  text-align: center;
}

.title {
  @include responsive.mobile-only() {
    text-align: left;
  }
  width: 100%;
  margin-bottom: 12px;
  overflow: hidden;
  color: var(--card-color);
  font-family: var(--body-alt-font-family);
  font-weight: 700;
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arrow {
  cursor: pointer;
}
