.shelf {
  margin: 0 0;
  color: var(--primary-color);
  font-family: var(--body-alt-font-family);

  &:hover {
    .chevron {
      opacity: 1;
      &.disabled {
        opacity: 0.3;
      }
    }
  }
}

.title {
  width: 100%;
  min-height: 28px;
  margin-bottom: 12px;
  overflow: hidden;
  color: var(--card-color);
  font-family: var(--body-alt-font-family);
  font-weight: var(--body-font-weight-bold);
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chevron {
  padding: 12px 0;
  outline-color: var(--highlight-color, white);
  cursor: pointer;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

  > svg {
    width: 30px;
    height: 30px;
  }
  &.disabled {
    cursor: default;
    &:hover {
      transform: none;
    }
  }
  &:hover {
    transform: scale(1.2);
  }
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(254, 254, 254, 0.2);
  border-radius: 50%;
  transition: all 200ms ease;

  &.active {
    background-color: var(--primary-color);
    transform: scale(1.1);
  }
}

.error {
  color: var(--card-color);
  font-family: var(--body-alt-font-family);
}
