@use '../../styles/variables';
@use '../../styles/theme';
@use '../../styles/mixins/responsive';

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
  &.hidden {
    display: none;
  }
}
.backdrop {
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s ease;
  &.open {
    opacity: 1;
  }
}
.modalContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalBackground {
  position: absolute;
  width: 80vw;
  height: calc(80vw / 16 * 9);
  background-color: rgba(0, 0, 0, 0.9);
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  transform: scale(0);
  @include responsive.mobile-only() {
    width: 100vw;
    height: calc(100vw / 16 * 9);
  }
  &.open {
    transform: scale(1);
  }
}
.modal {
  position: relative;
  width: 80vw;
  height: calc(80vw / 16 * 9);
  opacity: 0;
  transition: opacity 0.25s ease;
  @include responsive.mobile-only() {
    width: 100vw;
    height: calc(100vw / 16 * 9);
  }
  &.open {
    opacity: 1;
  }
}
.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 48px;
  height: 48px;
  opacity: 1;
  > svg {
    width: 28px;
    height: 28px;
  }
  @include responsive.mobile-only() {
    width: 24px;
    height: 24px;
    > svg {
      width: 14px;
      height: 14px;
    }
  }
  &.hidden {
    transition: opacity 0.6s ease;
    opacity: 0;
  }
}
