@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: variables.$modals-z-index;
  width: 100vw;
  height: calc(100vh - calc(100vh - 100%));
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: theme.$modal-backdrop-bg;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
