@use 'src/styles/variables';
@use 'src/styles/theme';

.menuItems {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  margin: 8px 0;
  padding: 0 18px;
  color: darken(theme.$primary-color, 40);
  font-weight: bold;
  font-size: 14px;
}

.menuItem {
  padding: 0 18px;

  > a {
    margin: 6px 0;
    font-weight: normal;
  }
}

.menuItemActive {
  > a {
    font-weight: bold;
  }
}
