@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.modalCloseButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  opacity: 1;

  > svg {
    width: 28px;
    height: 28px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)); /* stylelint-disable-line */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  }

  &.hidden {
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  @include responsive.mobile-only() {
    width: 24px;
    height: 24px;

    > svg {
      width: 14px;
      height: 14px;
    }
  }
}
