@use 'src/styles/variables';
@use 'src/styles/theme';

.banner {
  text-align: center;

  > img {
    max-width: 50%;
  }
}

.title {
  margin: 28px 0 28px 0;
  font-weight: var(--body-font-weight-bold);
  font-size: 19px;
}
