@use '../../styles/variables';
@use '../../styles/theme';

.banner {
  text-align: center;

  > img {
    max-width: 50%;
  }
}

.title {
  margin-bottom: 24px;
  font-family: theme.$body-alt-font-family;
  font-weight: 700;
  font-size: 24px;
}
