.container {
    min-height: 90px;
    margin-top: 24px;
    text-align: center;
}

.title {
    width: 100%;
    margin-bottom: 24px;
    font-weight: var(--body-font-weight-bold);
    font-size: 24px;
}

