@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.title {
  margin-bottom: 8px;
  font-weight: var(--body-font-weight-bold);
  font-size: 24px;
}

.subtitle {
  margin-bottom: 24px;
  font-weight: var(--body-font-weight-bold);
  font-size: 18px;
}

.offerGroupSwitch {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 24px;

  > input  {
    &:checked + .label {
      border-radius: 4px;
      transform: scale(1.02);
    }
  }
}

.offers {
  display: flex;
  margin: 0 -4px 24px;
}

.offer {
  flex: 1;
  margin: 0 4px;
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  :focus,
  :active {
    + .label {
      border-color: variables.$white;
    }
  }

  &:checked + .label {
    color: variables.$black;
    background-color: variables.$white;
    border-color: variables.$white;
  }
}

.label {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  background-color: rgba(variables.$black, 0.34);
  border: 1px solid rgba(variables.$white, 0.34);
  border-radius: 4px;
  cursor: pointer;
  transition: border 0.2s ease, background 0.2s ease, transform 0.3s ease-out;
}

.offerGroupLabel {
  padding: 8px 16px;
  font-weight: var(--body-font-weight-bold);
  font-size: 20px;

  &:nth-child(2) {
    border-radius: 4px 0 0 4px;
  }
  &:nth-child(4) {
    border-radius: 0 4px 4px 0;
  }
}

.offerTitle {
  font-weight: var(--body-font-weight-bold);
  font-size: 20px;
  text-align: center;
}

.offerDivider {
  width: 100%;
  border: none;
  border-bottom: 1px solid currentColor;
  opacity: 0.54;
}

.offerBenefits {
  margin-bottom: 16px;
  padding: 0;

  > li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 4px 0;

    > svg {
      flex-shrink: 0;
      margin-right: 4px;
      fill: variables.$green;
    }

    @include responsive.mobile-only() {
      font-size: 14px;
    }
  }
}

.fill {
  flex: 1;
}

.offerPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  font-size: 32px;

  > small {
    margin-left: 4px;
    font-size: 12px;
  }
}
