.GridRow {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.GridColumn {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.LeftSideGridContainer {
  flex: 0 0 50px;
}

.BodyGrid {
  width: 100%;
  border: 1px solid #e0e0e0;
}

.WindowScrollerWrapper {
  flex: 1 1 auto;
}

.wrapper {
  padding: 15px;
}
