@use 'src/styles/variables';
@use 'src/styles/theme';

.checkbox {
  display: inline-block;

  label {
    margin-left: calc(#{variables.$base-spacing} / 2);
    font-size: 14px;
    cursor: pointer;

    a {
      color: variables.$white;
      font-weight: var(--body-font-weight-bold);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.error {
    input {
      &:not(:checked) {
        border: 2px solid theme.$input-field-error-color;
      }
    }
  }

  .header {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    font-weight: var(--body-font-weight-bold);
    text-align: left;

    > span {
      float: right;
      color: rgba(variables.$white, 0.7);
      font-weight: normal;
    }
  }

  input {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 8px 0;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-appearance: none;
    appearance: none;

    &::before {
      display: inline-block;
      color: var(--highlight-contrast-color, variables.$black);
      font-family: arial, sans-serif;
      font-weight: 600;
      font-size: 0;
      content: 'L';
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
      + label {
        cursor: default;
        opacity: 0.6;
      }
    }

    &:hover:not(:disabled) {
      transform: scale(1.1);
    }

    &:not(:checked) {
      border: 2px solid theme.$input-resting-border-color;
      &:hover {
        border-color: theme.$input-hover-border-color;
      }
    }

    &:checked {
      background-color: var(--highlight-color, theme.$primary-color);
      &::before {
        font-size: 20px;
        transform: translateY(-3px) translateX(1px) scaleX(-0.95) rotate(-45deg);
      }
    }
  }
}

.row {
  display: flex;
  align-items: center;
}

.helperTextError {
  margin-top: -5px;
  margin-left: 35px;
  color: theme.$text-field-error-color;
  font-size: 10px;
}
