@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

//
// jwSidebarBackdrop
// --------------------------------

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: variables.$sidebar-z-index - 1;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(variables.$black, 0.4);
  transition: all 0.3s ease;
}

//
// jwSidebar
// --------------------------------

.sidebar {
  position: fixed;
  top: 0;
  z-index: variables.$sidebar-z-index;
  display: none;
  width: 270px;
  max-width: 90vw;
  height: 100vh;
  background-color: var(--body-background-color);
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.52, 0.51, 0.2, 1);
}

.heading {
  display: flex;
  padding: variables.$base-spacing 0 0;
}

.group {
  display: flex;
  flex-direction: column;
  padding: variables.$base-spacing 0;
}

//
// mediaQueries
// --------------------------------

@include responsive.mobile-and-tablet() {
  .sidebar {
    display: inline-block;

    &.open {
      transform: translateX(0);
    }
  }

  .backdrop {
    display: inline-block;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}
