@use 'src/styles/variables';
@use 'src/styles/theme';

.dialog {
  width: 100vw;
  max-height: 90vh;
  padding: 24px;
  overflow-y: auto;
  color: theme.$modal-color;
  background-color: theme.$modal-bg;
  border-radius: 6px;
  -ms-overflow-style: none;
  //noinspection CssUnknownProperty
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.small {
  max-width: 450px;
}

.large {
  max-width: 768px;
}
