@use '../../styles/variables';
@use '../../styles/theme';

.BlurBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  filter: blur(30px);
  z-index: -2;
  opacity: 0;
}
