@use 'src/styles/variables';
@use 'src/styles/theme';

.dynamicBlur {
  position: fixed;
  z-index: -1;
}

.image {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  filter: blur(30px) brightness(60%);
}
