@use '../../styles/variables';
@use '../../styles/theme';

.BlurBackground {
  position: fixed;
  z-index: -1;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  filter: blur(30px) brightness(60%);
}
