@use 'src/styles/variables';
@use 'src/styles/theme';

.loadingOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: variables.$loading-z-index;
  width: 100vw;
  height: calc(100vh - calc(100vh - 100%));
  background-color: var(--body-background-color);
}

.transparent {
  opacity: 0.5;
}

.inline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(variables.$black, 0.3);
}

.profile {
  img {
    position: absolute;
    width: calc(#{variables.$base-spacing} * 8);
    height: calc(#{variables.$base-spacing} * 8);
    border-radius: 50%;
  }
}
