@use '../../styles/variables';
@use '../../styles/theme';

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: variables.$loading-z-index;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: var(--body-background-color);
}
.transparent {
  opacity: 0.5;
}
