@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  a, a:visited, a:hover, a:active {
    color: inherit;
    font-weight: var(--body-font-weight-bold);
    text-decoration: underline;
    cursor: pointer;
  }
}

.box {
  max-width: 600px;
  padding: 12px;
}

.title {
  margin-bottom: 24px;
  color: variables.$white;
  font-weight: var(--body-font-weight-bold);
  font-size: 34px;
}

.main {
  color: variables.$white;

  > h6 {
    margin-bottom: 16px;
    font-weight: var(--body-font-weight-bold);
    font-size: 20px;
  }
}

@include responsive.mobile-only() {
  .title {
    font-size: 24px;
  }
}

.logo {
  margin-bottom: 24px;
}

.links {
  position: relative;

}

.stack {
  a {
    position: absolute;
    right: 0;
  }
}

.image {
  max-width: 200px;
  max-height: 80px;
  margin-bottom: 24px;
}
