@use 'src/styles/variables';

.joinChat {
    position: absolute;
    right: 50px;
    bottom: 110px;
  }
  body {
    margin: 0%;
    padding: 0%;
  }
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
  
  .joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    h3 {
      font-weight: 700;
    }
  }
  
  .joinChatContainer input {
    width: 210px;
    height: 40px;
    margin: 7px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid variables.$black;
    border-radius: 5px;
  }
  
  .joinChatContainer button {
    width: 210px;
    height: 50px;
    margin: 7px;
    padding: 5px;
    color: variables.$white;
    font-size: 16px;
    background: variables.$green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .joinChatContainer button:hover {
    background: variables.$green;
  }
  
  .joinChatButton, .joinRoomButton  {
    padding: 10px;
    font-family: var(--body-alt-font-family);
    font-weight: var(--body-font-weight-bold);
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;
  }

  .joinChatButton:hover {
    z-index: 1;
    background-color: variables.$green;
    transform: scale(1.1);
  }

  .chat-window {
    width: 300px;
    height: 420px;
    margin-left: 5vw;
  }

  .chat-icon {
    width: 10px;
    height: 20px;
  }

  .chat-window-hidden {
    width: 10px;
    height: 20px;
  }