@use 'sass:math';
@use '@jwp/ott-ui-react/src/styles/mixins/responsive';
@use '@jwp/ott-ui-react/src/styles/mixins/typography';
@use '@jwp/ott-ui-react/src/styles/theme';
@use '@jwp/ott-ui-react/src/styles/variables';

.listItem {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-bottom: variables.$base-spacing;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;

  @media (hover: hover) and (pointer: fine) {
    &:focus,
    &:hover {
      position: relative;
      z-index: 1;
      outline: none !important;
      box-shadow: none !important;
      transform: scale(1.05);

      & .poster {
        box-shadow: 0 0 0 3px var(--highlight-color, variables.$white), 0 8px 10px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 20%);
      }
    }
  }
}

.poster {
  position: relative;
  width: 168px;
  height: 94px;
  margin-right: 8px;
  overflow: hidden;
  background-color: theme.$card-loading-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 8px 10px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 20%);
  transition: box-shadow 0.1s ease;

  .posterImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &.visible {
      opacity: 1;
    }
  }

  @include responsive.mobile-only {
    width: 140px;
    height: 78px;
  }
}

.activeLabel {
  @include typography.video-title-base;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.54);

  @include responsive.mobile-only {
    font-size: 16px;
  }
}

.title {
  flex: 1;
  max-height: 4.8em;
  overflow: hidden;
  color: var(--primary-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight-bold);
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.25px;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.titleContainer {
  flex: 1;
  overflow: hidden;
}

.scheduledStart {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.2em;

  @include responsive.mobile-only {
    font-size: 12px;
  }
}

.tags {
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: flex;
}

.lock {
  margin-right: calc(#{variables.$base-spacing} / 2);
  padding: 2px 6px;

  > svg {
    width: 14px;
    height: 21px;
  }
}

svg.scheduled {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.tag {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  color: var(--card-color);
  font-family: var(--body-font-family);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  background-color: rgba(variables.$black, 0.6);
  border-radius: 4px;
}

.live {
  background-color: variables.$red;
}

.progressContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 5px;
  background-color: rgba(variables.$black, 0.38);
}

.progressBar {
  height: 5px;
  background-color: var(--primary-color);
}
