@use '../../styles/variables';
@use '../../styles/theme';

.iconButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  outline-color: var(--highlight-color, white);

  cursor: pointer;
  opacity: 0.7;
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
