@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/theme';
@use '@jwp/ott-ui-react/src/styles/mixins/responsive';

//
// Logo
// --------------------------------

.logo {
  width: auto;
  max-width: variables.$logo-max-width;
  height: auto;
  max-height: variables.$logo-max-height;
  vertical-align: middle;
  cursor: pointer;
}
