@use 'src/styles/variables';
@use './responsive';

@mixin video-title-base($font-size: 34px) {
  color: var(--primary-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight-bold);
  font-size: $font-size;
  line-height: 1em;
  letter-spacing: 0.25px;

  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);

  @include responsive.mobile-only() {
    font-size: $font-size * 0.8;
    line-height: $font-size * 0.8;
    letter-spacing: 0.15px;
  }
}
