@use 'src/styles/variables';

@mixin cover($width: 100%, $height: 100%) {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
}

@mixin center-self($top: 50%, $left: 50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

@function rem($size-in-pixels) {
    @return #{$size-in-pixels / variables.$body-font-size}rem;
}
