@use '../../styles/variables';
@use '../../styles/theme';

.title {
  margin-bottom: 16px;
  font-family: theme.$body-alt-font-family;
  font-weight: 700;
  font-size: 24px;
}

.paragraph {
  font-family: theme.$body-font-family;
}
