@use 'src/styles/variables';
@use 'src/styles/theme';

.layout {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main {
  flex: 1;
}

div.footer {
  padding: 20px 40px;
  line-height: 18px;
  letter-spacing: 0.15px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);

  > div > a,
  a:visited,
  a:active,
  a:hover {
    color: variables.$white;
    text-decoration: none;
  }
}

div.testFixMargin {
  margin-bottom: 50px;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(variables.$white, 0.12);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  padding: 0 variables.$base-spacing;

  > button:first-child {
    margin-bottom: calc(#{variables.$base-spacing} / 2);
  }
}
