@use 'src/styles/variables';
@use 'src/styles/theme';

.title {
  margin: 24px 0;
  font-weight: var(--body-font-weight-bold);
  font-size: 26px;
}

.text {
  margin-bottom: 24px;
  font-size: 16px;
}

.button {
  margin-bottom: 8px;
}
