@use 'src/styles/variables';
@use 'src/styles/theme';

.link {
  display: inline-block;
  color: var(--primary-color);
  font-weight: var(--body-font-weight-bold);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
