@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.infoBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: variables.$base-spacing;
  padding: calc(#{variables.$base-spacing} / 2) variables.$base-spacing;

  font-size: 14px;
  line-height: 18px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
  background: theme.$panel-bg;
  border-radius: 4px;

  > strong {
    line-height: 16px;
    letter-spacing: 0.25px;
  }
}

.pendingSwitch {
  margin-top: variables.$base-spacing;
}

.transactionDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    margin-left: variables.$base-spacing;
  }
}

.price {
  font-size: 14px;
  line-height: 18px;
  > strong {
    font-weight: var(--body-font-weight-bold);
    font-size: 24px;
    line-height: 26px;
  }
}

.cardDetails {
  display: flex;
  margin-top: variables.$base-spacing * 2;
}

.paypal {
  display: flex;
  align-items: center;
  margin-bottom: variables.$base-spacing;
  font-weight: var(--body-font-weight-bold);
  font-size: 24px;
  font-style: italic;

  > svg {
    margin-right: 4px;
  }
}

.upgradeSubscription {
  margin-right: 8px;

  @include responsive.mobile-only() {
    margin: 0 0 8px;
  }
}
