@use 'src/styles/variables';
@use 'src/styles/theme';

.collapsibleText {
  position: relative;
  padding-bottom: 20px;
}

.dummyDiv {
  position: absolute;
  visibility: hidden;
}

.textContainer {
  overflow: hidden;
  transition: max-height 0.1s ease-out;

  &.collapsed {
    mask-image: linear-gradient(-180deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(-180deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%); /* stylelint-disable-line */
  }
}

.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 24px / 2);
  width: 24px;
  height: 24px;
  outline: none;
  cursor: pointer;
  opacity: 1;

  > svg {
    transform: rotate(90deg);
  }

  &.expanded {
    > svg {
      transform: rotate(270deg);
    }
  }
}
