@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/theme';
@use '@jwp/ott-ui-react/src/styles/mixins/responsive';

.header {
  display: flex;
  margin-bottom: calc(#{variables.$base-spacing} * 1.5);

  > h1 {
    margin-right: calc(#{variables.$base-spacing} * 1.5);
    font-weight: var(--body-font-weight-bold);
    font-size: 34px;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0.25px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
  }
}
